body{
  background: #fff;
  color: #333;
  font-size: 20px;
  line-height: 1.8em;
  display: flex;
	align-items: center;
	justify-content: space-around;
}

.container {
  max-width: 800px;
  padding: 0 6em 3em; }

blockquote {
  border-left: 3px solid #00CC8F;
  color: #1a1a1a;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.25em;
  font-style: italic;
  line-height: 1.8em;
  margin: 1.1em -4em;
  padding: 1em 2em;
  position: relative;
  z-index: 0; }
  blockquote:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -4px;
    height: 2em;
    background-color: #fff;
    width: 5px;
    margin-top: -1em; }
  blockquote:after {
    content: "\f35f";
    position: absolute;
    top: 50%;
    left: -0.5em;
    color: #00CC8F;
    font-family: "Ionicons";
    font-style: normal;
    line-height: 1em;
    text-align: center;
    text-indent: -2px;
    width: 1em;
    margin-top: -0.5em;
    }
  blockquote cite {
    display: block;
    font-size: 0.75em;
    line-height: 1.8em;
    margin-top: 1em; }
