

body{
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: .5rem;
  color: rgba(0,0,0,.87);
  font-feature-settings: "kern","liga";
}

.contenidor_gran {
  max-width: 60rem; /*MODIFICAR*/
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 60em) {
  .contenidor_interior {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
}

.contingut{
  margin-right: 1.2rem;
  margin-left: 1.2rem;
}

.typeset{
  font-size: .8rem;
  line-height: 1.6;
}

.typeset .caixa.info{
  border-left-color: #00b8d4;
}

.typeset .caixa{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2);
  position: relative;
  margin: 1.5625em 0;
  padding: 0 .6rem;
  border-left: .2rem solid #448aff;
  border-radius: .1rem;
  font-size: .64rem;
  overflow: auto;
}


.typeset .caixa.info > .titol{
border-bottom-color: rgba(0,184,212,.1);
background-color: rgba(0,184,212,.1);
}

.typeset .caixa > .titol{
  margin: 0 -.6rem;
  padding: .4rem .6rem .4rem 2rem;
  /*MODIFICAR EL ÚLTIM 2rem*/
  border-bottom: .05rem solid rgba(68,138,255,.1);
    border-bottom-color: rgba(68, 138, 255, 0.1);
  background-color: rgba(68,138,255,.1);
  font-weight: 700;  
}

/* ICONA 
Nota: L'icona queda una mica per sota i s'hauria de corregir
*/
.typeset .caixa.info > .titol::before{
  position: absolute;
  left: .6rem;
  font-size: 1rem;
  
  color: #00b8d4;
  font-size: 1rem;
  font-family: "Material Icons";
  content: "\e88e";
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}


